# Konfigurasi Database & Storage
DATABASE_URL=sqlite:///./filecloud.db
UPLOAD_DIR=./uploads
STORAGE_LIMIT_GB=10

# Security & CORS
CORS_ORIGINS=http://localhost:5173

# Path ke Folder Build React
FRONTEND_DIST_DIR=../frontend/dist

# Keamanan & Otentikasi
AUTH_TOKEN=token