# Konfigurasi Database
DATABASE_URL=sqlite:///./filecloud.db

# Limit storage
STORAGE_LIMIT_GB=10

# Security & CORS
CORS_ORIGINS=http://localhost:5173

# Path ke Folder Build React
FRONTEND_DIST_DIR=../frontend/dist

# Keamanan & Otentikasi
AUTH_TOKEN=token

# Storage Media Provider (local, s3, gcs)
STORAGE_PROVIDER=local

## Local Storage (uncomment jika STORAGE_PROVIDER=local)
LOCAL_STORAGE_PATH=./uploads

## S3 (uncomment jika STORAGE_PROVIDER=s3)
# S3_ENDPOINT_URL=your-endpoint-url
# S3_REGION_NAME=your-region-name
# S3_ACCESS_KEY=your-access-key
# S3_SECRET_KEY=your-secret-key
# S3_BUCKET_NAME=your-bucket-name

## Google Cloud Storage (uncomment jika STORAGE_PROVIDER=gcs)
# GCS_BUCKET_NAME=your-bucket-name